body  {padding:0;
      margin:0;}

h1 {text-align:center;
    font-size:50px;}
     
table, th, td{border-collapse:collapse;
              border:2px solid green;
              text-align:left;
              min-width:30%;
              padding:10px;}
table{float:right;}
 
              
 p:hover,tr:hover {background-color:green;
                  color:white;}  
                  
                          
img {width:300px;}

p {margin-left:50px;
   font-size:200%;}
   
ul {list-style-type:none;
    margin:0;
    padding:0;
    background-color: #333333;
    overflow:hidden;
    position:sticky;
    top:0;}
    

ul li {float:left;}

ul li a {display:block;
         color:white;
         text-align:center;
         padding:15px;
         text-decoration:none;}
ul li a:hover {background-color:green;}

section {padding-top:60px;}
 

             
