h1 {text-align:center;
    font-size:50px;}
     
table, th, td{border-collapse:collapse;
              border:2px solid green;
              text-align:left;
              width:30%;
              padding:8px;}
table{float:right;}
 
              
tr:hover {background-color:green;
          color:white;}
p:hover {background-color:green;
          color:white;}
          
             
img {width:300px;}

p {margin-left:50px;
   font-size:200%;}
             
